<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.mgr.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.wechat.mgr.user.model.User">
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="USERCODE" jdbcType="VARCHAR" property="usercode" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATORID" jdbcType="VARCHAR" property="creatorid" />
    <result column="UPDATOR" jdbcType="VARCHAR" property="updator" />
    <result column="UPDATORID" jdbcType="VARCHAR" property="updatorid" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    USERID, USERCODE, USERNAME, CREATOR, CREATORID, UPDATOR, UPDATORID, CREATETIME, UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WECHAT_BASE_T_USER
    where USERID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WECHAT_BASE_T_USER
    where USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wechat.mgr.user.model.User">
    insert into WECHAT_BASE_T_USER (USERID, USERCODE, USERNAME, 
      CREATOR, CREATORID, UPDATOR, 
      UPDATORID, CREATETIME, UPDATETIME
      )
    values (#{userid,jdbcType=VARCHAR}, #{usercode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR}, #{updator,jdbcType=VARCHAR}, 
      #{updatorid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.mgr.user.model.User">
    insert into WECHAT_BASE_T_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        USERID,
      </if>
      <if test="usercode != null">
        USERCODE,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="creatorid != null">
        CREATORID,
      </if>
      <if test="updator != null">
        UPDATOR,
      </if>
      <if test="updatorid != null">
        UPDATORID,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="usercode != null">
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updatorid != null">
        #{updatorid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.mgr.user.model.User">
    update WECHAT_BASE_T_USER
    <set>
      <if test="usercode != null">
        USERCODE = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        CREATORID = #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="updator != null">
        UPDATOR = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updatorid != null">
        UPDATORID = #{updatorid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.mgr.user.model.User">
    update WECHAT_BASE_T_USER
    set USERCODE = #{usercode,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATORID = #{creatorid,jdbcType=VARCHAR},
      UPDATOR = #{updator,jdbcType=VARCHAR},
      UPDATORID = #{updatorid,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>